.exhibit {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  min-height: 20rem;
  position: relative;
}

.exhibit__title {
  bottom: -2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  left: 50%;
  position: absolute;
  text-transform: lowercase;
  transform: translateX(-50%);
}

.exhibit__number {
  font-size: 16vw;
  font-family: 'Bungee Hairline', cursive;
  position: relative;
  vertical-align: middle;
}
