.section {
  width: 100%;
  padding: 2rem 1.5rem;
}

.section--bordered {
  padding: 0 1rem 2rem;
}

.section--bordered:before {
  border-top: 1px solid white;
  content: '';
  display: block;
  margin-bottom: 2rem;
}

.section__title {
  color: white;
  line-height: 1;
  font-family: 'Bungee Hairline', cursive;
  font-size: 3rem;
  font-weight: normal;
  margin: 0 0 0.5rem;
  text-align: center;
}

.section__subtitle {
  margin: 0 0 2rem;
}

.section__label {
  color: white;
  float: left;
  font-size: 2rem;
  font-family: 'Bungee Hairline', cursive;
  font-weight: normal;
  margin: 0;
  margin-right: 0.5rem;
}

.section__text {
  line-height: 1.5;
  margin: 0 0 2rem;
}

.section__text:last-child {
  margin-bottom: 0;
}

.section__field {
  margin-top: 1rem;
  text-align: center;
}

@media (min-width: 600px) {
  .section {
    margin: 0 auto;
    max-width: 425px;
    padding: 3rem 0;
  }

  .section--bordered {
    padding-top: 0;
  }

  .section--bordered:before {
    margin-bottom: 3rem;
  }

  .section__title {
    font-size: 4rem;
    text-align: center;
  }
}

@media (min-width: 960px) {
  .section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .section--bordered {
    padding-top: 0;
  }

  .section--bordered:before {
    margin-bottom: 4rem;
  }
}
