input.terminal {
  background: black;
  border: none;
  position: relative;
  text-transform: uppercase;
}

input.terminal::placeholder {
  color: white;
  opacity: 0.6;
}

input.terminal::before {
  animation: blinking 1s infinite;
  content: '_';
  position: absolute;
  left: 0;
}

@keyframes blinking {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
