.terminal {
  cursor: text;
  height: 1rem;
  line-height: 1;
  position: relative;
}

.terminal input {
  left: -9999999px;
  position: absolute;
}

.terminal__placeholder {
  color: white;
  opacity: 0.6;
}

.terminal__input {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  white-space: pre;
}

.terminal__input:before {
  animation: blinking 1s infinite;
  border-bottom: 2px solid white;
  content: ' ';
  height: 100%;
  position: absolute;
  right: -0.5rem;
  top: 1px;
  width: 0.5rem;
}

@keyframes blinking {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}
