@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline|Open+Sans:300,400,600');

* { box-sizing: border-box; }

html, body {
  background: black;
  color: #DDD;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #18CAE6;
}

input {
  color: #DDD;
  font-size: 1rem;
}
